{% extends "base.html" %}

{% block content %}

<div class="block-header">
	<h2>TODAY</h2>
</div>

<div class="row clearfix">
    <div class="col-sm-4">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-red">
                <i class="material-icons">recent_actors</i>
            </div>
            <div class="content">
                <div class="text">IN QUEUE</div>
                <div class="number">274</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-teal">
                <i class="material-icons">alarm</i>
            </div>
            <div class="content">
                <div class="text">AVERAGE WAITING TIME</div>
                <div class="number">18 <small>min</small></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-indigo">
                <i class="material-icons">developer_board</i>
            </div>
            <div class="content">
                <div class="text">ACTIVE TELLERS</div>
                <div class="number">14</div>
            </div>
        </div>
    </div>
</div>

<div class="block-header">
	<h2>THIS WEEK</h2>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="card">
		    <div class="header">
		    	<div class="row">
		    		<div class="col-sm-6">
				        <h2>WEEKLY QUEUE NUMBERS</h2>
		    		</div>
		    		<div class="col-sm-6 align-right p-t-5">
	    				<select name="service" class="show-tick">
	    				    <option value="all">All Services</option>
	    				    <option value="id">ID application</option>
						    <option value="nssf">NSSF Member Registration</option>
	    				    <option value="gen">General Enquiry</option>
	    				</select>
		    		</div>
		    	</div>
		        
		    </div>
		    <div class="body">
		        <canvas id="weekly-trends-chart" height="150"></canvas>
		        <div class="m-t-10">
			        <a href="{% url 'predictions' %}" title="More predictions" class="btn bg-blue-grey btn-lg">MORE PREDICTIONS</a>
		        </div>
		    </div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card">
		    <div class="body bg-teal">
		        <div class="font-bold m-b--35">WAITING TIMES</div>
		        <ul class="dashboard-stat-list">
		            <li>
		                Monday
		                <span class="pull-right"><b>12</b> <small>MIN</small></span>
		            </li>
		            <li>
		                Tuesday
		                <span class="pull-right"><b>15</b> <small>MIN</small></span>
		            </li>
		            <li>
		                Wednesday
		                <span class="pull-right"><b>22</b> <small>MIN</small></span>
		            </li>
		            <li>
		                Thursday
		                <span class="pull-right"><b>34</b> <small>MIN</small></span>
		            </li>
		            <li>
		                Friday
		                <span class="pull-right"><b>20</b> <small>MIN</small></span>
		            </li>
		        </ul>
		    </div>
		</div>
	</div>
	
</div>


{% endblock %}